@mixin fade-start {
  opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  -webkit-opacity: 0;
}

@mixin fade-end {
  opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  -webkit-opacity: 1;
}

@keyframes fade {
  0% { @include fade-start; }
  100% { @include fade-end; }
}

@-moz-keyframes fade {
  0% { @include fade-start; }
  100% { @include fade-end; }
}

@-ms-keyframes fade {
  0% { @include fade-start; }
  100% { @include fade-end; }
}

@-o-keyframes fade {
  0% { @include fade-start; }
  100% { @include fade-end; }
}

@-webkit-keyframes fade {
  0% { @include fade-start; }
  100% { @include fade-end; }
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.3 ease-out;
  -moz-transition: all 0.3 ease-out;
  -ms-transition: all 0.3 ease-out;
  -o-transition: all 0.3 ease-out;
  -webkit-transition: all 0.3 ease-out;
  @include fade-end;
}

.fade-enter,
.fade-leave-to {
  @include fade-start;
}
